<<<<<<< HEAD
body{
	height:auto;
}

#order_center{
	width:986px;
	height:auto;
	position:relative;
	top:100px;
}

#order_center  #orderbag{
	width:986px;
	height:34px;
	background:url(../images/cart_2.png) no-repeat;
}

#order_center .reciever_info{
	width:986px;
	height:231px;
	margin-top:20px;
}
#order_center .reciever_info .info_label{
	width:986px;
	height:28px;
	line-height:26px;
	font-size:14px;
	font-weight:bold;
}
#order_center .reciever_info .info_label .xiugai{
	color:red;
	margin-left:14px;
}
#order_center .reciever_info  .background{
	width:917px;
	height:24px;
	background:url(../images/divider.png) no-repeat;
}
#order_center .reciever_info .addr{
	width:986px;
	height:130px;
}
#order_center .reciever_info .addr  ul{
	width:284px;
	height:120px;
	margin-top:6px;
	margin-left:15px;
	border:2px solid rgb(220,220,220);
	border-radius:12px;
	background:rgb(226,227,226);
	float:left;
}
#order_center .reciever_info .addr  ul li{
	margin-left:14px;
	list-style:none;
	line-height:20px;
	color:rgb(137,135,135);
}
#order_center .reciever_info .addr   #deliver_name{
	border-bottom:1px solid rgb(220,220,220);
	height:32px;
	width:222px;
	overflow:hidden;
}
#order_center .reciever_info .addr   #deliver_addr{
	width:222px;
	height:60px;
	margin-top:4px;
}


#order_center .reciever_info .info_button{
	width:926px;
	height:31px;
	margin-top:12px;
	float:left;
}
#address_form{
	float:left;
	padding-bottom:20px;
}
#address_form  #add_deliver {
    background: #e5e5e5 none repeat scroll 0 0;
    border-radius: 15px;
    margin: 12px 32px 32px 0;
    padding: 6px;
    width: 916px;
    height:268px;
}
#address_form .red{
	color:red;	
}

span {
    padding: 0;
}
input[type="text"] {
    background-color: #ffffff;
    border-color: #999999 #c0c0c0 #c0c0c0 #999999;
    border-style: solid;
    border-width: 1px;
    cursor: text;
    display:inline-block;
}
select {
    border-color: #808080 #a0a0a0 #d0d0d0 #808080;
    border-style: solid;
    border-width: 1px;
    font-family: verdana;
    font-size: 12px;
    height: 22px;
    margin-top: 0px;
}
.clearfix{
	float:left;
	width:100%;
	height:20px;
	line-height:30px;
	padding-top:18px ;
=======

#order_center{
	width:986px;
	height:660px;
	position:relative;
	top:100px;
}
#order_center  #orderbag{
	width:986px;
	height:34px;
	background:url(../images/cart_2.png) no-repeat;
}

#order_center .reciever_info{
	width:986px;
	height:231px;
	margin-top:20px;
}
#order_center .reciever_info .info_label{
	width:986px;
	height:28px;
	line-height:26px;
	font-size:14px;
	font-weight:bold;
}
#order_center .reciever_info .info_label .xiugai{
	color:red;
	margin-left:14px;
}
#order_center .reciever_info  .background{
	width:917px;
	height:24px;
	background:url(../images/divider.png) no-repeat;
}
#order_center .reciever_info .addr{
	width:986px;
	height:130px;
}
#order_center .reciever_info .addr  ul{
	width:284px;
	height:120px;
	margin-top:6px;
	margin-left:15px;
	border:2px solid rgb(220,220,220);
	border-radius:12px;
	background:rgb(226,227,226);
	float:left;
}
#order_center .reciever_info .addr  ul li{
	margin-left:14px;
	list-style:none;
	line-height:20px;
	color:rgb(137,135,135);
}
#order_center .reciever_info .addr   #deliver_name{
	border-bottom:1px solid rgb(220,220,220);
	height:32px;
	width:222px;
	overflow:hidden;
}
#order_center .reciever_info .addr   #deliver_addr{
	width:222px;
	height:60px;
	margin-top:4px;
}


#order_center .reciever_info .info_button{
	width:926px;
	height:31px;
	margin-top:12px;
	float:left;
}
#address_form{
	float:left;
}
#address_form  #add_deliver {
    background: #e5e5e5 none repeat scroll 0 0;
    border-radius: 15px;
    margin: 12px 32px 32px 0;
    padding: 6px;
    width: 916px;
    height:268px;
}

span {
    padding: 0;
}
input[type="text"] {
    background-color: #ffffff;
    border-color: #999999 #c0c0c0 #c0c0c0 #999999;
    border-style: solid;
    border-width: 1px;
    cursor: text;
    display:inline-block;
}
select {
    border-color: #808080 #a0a0a0 #d0d0d0 #808080;
    border-style: solid;
    border-width: 1px;
    font-family: verdana;
    font-size: 12px;
    height: 22px;
    margin-top: 0px;
}
.clearfix{
	float:left;
	width:100%;
	height:20px;
	line-height:20px;
	padding-top:14px ;
>>>>>>> refs/remotes/origin/luohongmei
	margin-left:30px;
	
}
.clearfix::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
.closes {
    background: #020202 none repeat scroll 0 0;
    border: medium none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    height: 31px;
    width: 87px;
    float:right;
    margin-top:-14px;
}
.sprite {
    background: #ee2737 none repeat scroll 0 0;
    border: medium none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    height: 31px;
    width: 156px;
    float:left;
    margin-left:590px;
    margin-top:-14px;
}


#order_center .reciever_info .info_button  #other_diliver{
	background: #ee2737 none repeat scroll 0 0;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    float: left;
    font-size: 14px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    width: 156px;
}
#order_center .reciever_info .info_button  #manager_diliver{
	float:right;
	color:red;
	text-decoration:none;
}

/*----------商品清单---------*/
#order_center .good_order{
	width:986px;
	height:auto;
	float:left;
}
#order_center .good_order   .goodinfo_label{
	width:986px;
	height:28px;
	line-height:26px;
	font-size:15px;
	font-weight:bold;
	margin-top:30px;
}
#order_center .good_order .goodinfo_label .xiugaicart{
	color:red;
	margin-left:14px;
}
#order_center .good_order table{
	width:980px;
	height:85px;
	border:1px solid rgb(197,197,197);
}
#order_center .good_order table input{
	width:30px;	
	text-align:center;
	border:0px;
}
#order_center .good_order table thead tr td{
	border-bottom:1px solid rgb(197,197,197) ;
}



/*-------------结算清单-----------*/
#order_center  .check_order{
	width:980px;
	height:104px;
	margin-top:20px;
	border:4px solid rgb(150,150,150);
	background:rgb(245,245,245);
	float:left;
}
#order_center  .check_order h2{
	width:939px;
	height:22px;
	font-size:15px;
	font-weight:normal;
	line-height:10px;
	border-bottom:1px solid rgb(150,150,150);
	margin-left:14px;
	margin-top:10px;
}
