

#container{
	width:980px;
	height:600px;
	position:relative;
	top:100px;
}
#container_header{
	width:980px;
	height:32px;
}
#container_content{
	width:980px;
	height:280px;	
}
#container_content  #content_register{
	width:557px;
	height:515px;
	float:left;
}
#container_content  #content_register .line{
	width:557px;
	height:40px;
	margin-top:30px;
}
#container_content  #content_register .line .label{
	text-align:right;
	font-size:14px;
	color:rgb(119,119,119);
	font-family:"宋体";
}

/*------------------主体右边------------------------*/
#container   #content_right{
	 width:336px;
	 height:380px;
	 float:right;
	 text-align:left;
	 margin-top:40px;
}

#container   #content_right #title{
	width:336px;
	height:140px;
	border-bottom:1px dashed rgb(119,119,119);
	margin-top:20px;
}
#container   #content_right #title p{
	line-height:24px;
	font-size:14px;
	color:rgb(119,119,119);
}
#container   #content_right #title .zhuce{
	width:220px;
	height:50px;
	background:rgb(238,39,55);
	margin-left:0px;
	margin-top:24px;
	text-align:center;
}
#container   #content_right #title .zhuce a{
	line-height:50px;
	font-size:16px;
	color:white;
	text-decoration:none;
	font-weight:bold;
}

#container   #content_right #delu p{
	font-size:13px;
	color:rgb(119,119,119);
}
#container   #content_right #delu a{
	font-size:12px;
	text-decoration:none;
}

.button{
	width:200px;
	height:50px;
	background:rgb(238,39,55);	
	text-align:center;
}
.button a{
	font-size:16px;
	color:#FFF;	
	text-decoration:none;
	vertical-align:middle; /*使文字垂直居中*/
	line-height:50px;
	font-weight:bold;	
}