<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.lining.mapper.ManagerMapper" >

  <select id="getManagerByManager" parameterType="Manager" resultType="Manager">
		select * from manager where mname=#{mname} and mpwd=#{mpwd}
	</select>
	<!-- column是数据库字段名，property是实体类属性名，id是主键 -->
	<!-- 有几个属性就有几个result -->
	<resultMap type="Manager" id="Managers">
		 <id column="mid" property="mid"  />
		 <result column="mid" property="mid" />
		 <result column="mname" property="mname" />
		 <result column="mpwd" property="mpwd" />
	</resultMap>
	<select id="listAllManager" resultMap="Managers">
		select * from manager
	</select>
	
	<insert id="addManager" parameterType="Manager" >
		insert into manager values(seq_manager.nextval,#{mname},#{mpwd})
	</insert>
	
</mapper>