<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.lining.mapper.PlaceMapper" >
  
  <select id="findAddressByUid" parameterType="int" resultMap="PlaceMap">
  	select * from place where u_id= #{u_id} order by pid desc
  </select>
  <resultMap type="Place" id="PlaceMap">
  	<id property="pid" column="pid"/>
  	<result property="placename" column="placename"/>
  	<result property="shname" column="shname"/>
  	<result property="shtel" column="shtel"/>
  	<result property="postcode" column="postcode"/>
  </resultMap>
  
  <insert id="insertPlaceById"  parameterType="Place">
  	insert into place values(seq_place.nextval,#{placename},101,#{shname},#{shtel},#{postcode})
  </insert>
</mapper>
