<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.lining.mapper.ProductMapper" >

	<select id="getCount" resultType="int">
		select count(*) from product
	</select>
 	<select id="findAll" resultType="ProductBean">
 		select pro_name,pro_tagprice,color,pro_number,pro_img,pro_price from product  order by pro_number desc
 	</select>
  
	<select id="findByDate" resultType="ProductBean">
	select * from(select a .*,rownum rn from 
		(select color,pro_name,pro_tagprice,pro_number from product order by registertime desc) a
		where rownum &lt;=${pageSize*pageNo} ) b where rn&gt;${pageSize*(pageNo-1)}
	</select>
	
	<select id="findByPriceDesc" resultType="ProductBean">
	select * from(select a .*,rownum rn from 
		(select color,pro_name,pro_tagprice,pro_number from product order by pro_tagprice desc) a
		where rownum &lt;=${pageSize*pageNo} ) b where rn&gt;${pageSize*(pageNo-1)}
	</select>
	
	<select id="findByType" resultType="ProductBean" parameterType="ProductBean">
	select * from(select a .*,rownum rn from 
		(select color,pro_name,pro_tagprice,pro_number from product where pro_name like '%${pro_name}%') a
		where rownum &lt;=${pageSize*pageNo} ) b where rn&gt;${pageSize*(pageNo-1)}
	</select>
	
	<select id="findByPrice" resultType="ProductBean" parameterType="ProductBean">
	select * from(select a .*,rownum rn from 
		(select color,pro_name,pro_tagprice,pro_number from product where pro_tagprice between ${lowPrice} and ${highPrice}) a
		where rownum &lt;${pageNo*pageSize} ) b where rn&gt;${(pageNo-1)*pageSize}
	</select>
	
	
	
	<select id="findPageUtil" resultMap="ProductBeanMap">
		select * from(select a .*,rownum rn from 
					(select color,pro_name,pro_tagprice,pro_number from product  order by  pro_number desc) a
				where rownum &lt;=${pageSize*pageNo} ) b where rn&gt;${pageSize*(pageNo-1)}
	</select>
	<resultMap type="ProductBean" id="ProductBeanMap">
		<id property="pro_number" column="pro_number"/>
		<result property="color" column="color"/>
		<result property="pro_name" column="pro_name"/>
		<result property="pro_tagprice" column="pro_tagprice"/>
	</resultMap>
  
</mapper>