<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.lining.mapper.TypesinfoMapper" >
  <resultMap id="BaseResultMap" type="com.yc.lining.entity.Typesinfo" >
    <id column="TYPESID" property="typesid" jdbcType="DECIMAL" />
    <result column="TYPENAME" property="typename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    TYPESID, TYPENAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from TYPESINFO
    where TYPESID = #{typesid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from TYPESINFO
    where TYPESID = #{typesid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.yc.lining.entity.Typesinfo" >
    insert into TYPESINFO (TYPESID, TYPENAME)
    values (#{typesid,jdbcType=DECIMAL}, #{typename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.lining.entity.Typesinfo" >
    insert into TYPESINFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typesid != null" >
        TYPESID,
      </if>
      <if test="typename != null" >
        TYPENAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typesid != null" >
        #{typesid,jdbcType=DECIMAL},
      </if>
      <if test="typename != null" >
        #{typename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.lining.entity.Typesinfo" >
    update TYPESINFO
    <set >
      <if test="typename != null" >
        TYPENAME = #{typename,jdbcType=VARCHAR},
      </if>
    </set>
    where TYPESID = #{typesid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.lining.entity.Typesinfo" >
    update TYPESINFO
    set TYPENAME = #{typename,jdbcType=VARCHAR}
    where TYPESID = #{typesid,jdbcType=DECIMAL}
  </update>
</mapper>